'atom-text-editor':
  'ctrl-space': 'ftp-remote-edit:toggle',
  'ctrl-alt-P': 'ftp-remote-edit:finder'
'atom-workspace':
  'ctrl-space': 'ftp-remote-edit:toggle',
  'ctrl-alt-P': 'ftp-remote-edit:finder'
